# Ignore everything
*

# Whitelist subdirectories
!*/

# Whitelist the following extensions
!*.c
!*.h
!*.w
!*.tex
!*.sh
!*.mk
!*.l
!*.y
!*.py
!*.java
!*.xml

# Whitelist specific filenames
!*.gitignore
!*README
!*LICENSE
!*Makefile

# Blacklist the following file / directory names
lib
data
target
.metadata
*.idea/*
